
@media all and (max-width: 991px) {
nav.navbar{
position:fixed !important;	
right:0px;
left:0px;
margin-left:auto;
margin-right:auto;
display:block;	
}
}


svg.hidden {
	height: 0px;
	padding: 0px;
	margin: 0px;
	display: none;
}


@media all and (max-width: 991px) {

}
@media all and (max-width: 991px) {
	a.nav-link ,a.dropdown-item{
		padding: 1.3em !important;
		font-size: 1.2em;
	}
	nav.navbar {
		background: #1f1f1f;
		position: fixed;
		top: 0px !important;
	
	}

	
	
	
}



@media all and (min-width:768px){


}
